.backgroundFlows {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -2;
  background: linear-gradient(rgba(255,254,234,1) 0%, #f08b8b 100%);
  overflow-x: hidden; /* Oculta el scroll horizontal */
}

body{
  overflow: hidden; 
}

*{
  color : #400101;
  font-weight: 400;
}

.ocean {
  height: 12vh;
  width: 100%;

  z-index: -2;

  position: absolute;
  bottom: 0;
  left: 0;
  background: #400101;  
}

.wave {
  background: url(../html/wave.svg) repeat-x;
  position: absolute;
  width: 6400px;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 10s ease infinite;
}

.wave2 {
  background: url(../html/wave.svg) repeat-x;
  position: relative;
  width: 300%;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0); 
}

.wave2 {
  top: -168px; 
  animation: swell 7.5s ease-in-out infinite;
  opacity: 1;
}

@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}
@keyframes swell {
  0%, 100% {
    transform: translate(0, -30px);
    margin-left: 0px;
  }

  50% {
    transform: translate(0, 5px);
    
    margin-left: -800px;
  }
}

* {
  font-family: "Rubik", sans-serif; 
}

.content{
  z-index: 20;
  background:  rgba(255, 255, 255, 0.89);  
  border-radius: 20px;  
  position: absolute;  
  max-width: 80%; 
  left:10%;
  right:10%;
}

.small_content{
  z-index: 20;
  background:  rgba(255, 255, 255, 0.89);  
  border-radius: 20px;  
  position: absolute;  
  max-width: 40%; 
  left:30%;
  right:30%;
}

.btn-primary {
  background-color: #f2935c; /* Cambia a un color verde */
  border-color: #f2935c;     /* Asegúrate de cambiar también el color del borde */
}

.btn-primary:hover {
  background-color: #f0cabc; /* Cambia el color en el estado hover */
  border-color: #f0cabc;     /* Cambia el color del borde en hover */
}

.btn-secondary {
  background-color: #555555; /* Cambia a un color verde */
  border-color: #555555;     /* Asegúrate de cambiar también el color del borde */
}

.btn-secondary:hover {
  background-color: #a3a3a3; /* Cambia el color en el estado hover */
  border-color: #a3a3a3;     /* Cambia el color del borde en hover */
}
 
.btn-link{
  
  color: #f23d3d;
}

label {
  font-size: 18px;
}

.h3 {
  font-size: 30px;
  font-weight: 500;
}

.scroll-container { 
  height: calc(100vh - 300px); /* Ajusta 300px al tamaño necesario que ocupe el resto de contenido */

  overflow-y: auto;
  border-radius: 10px;
} 

.nav-link{
  font-weight: 200;
  font-size: 20px;
  font-family: "Rubik", sans-serif; 
  text-shadow: 1px 1px 4px rgb(161, 138, 138);
  transition: text-shadow .3s, font-size .4s;
  padding-bottom: 0px;
  
  margin-inline: 20px;
}
.nav-link:hover{
  font-weight: 200;
  font-size: 21px; 
  font-family: "Rubik", sans-serif;  
  text-shadow: 1px 1px 1px rgb(161, 138, 138); 
}

.user_type{
  font-weight: 500;
  font-size: 20px;
  font-family: "Rubik", sans-serif; 
  text-decoration: none;
  
  color : #400101;
}

table tr th, 
table tr td {
  vertical-align: middle; /* Centra verticalmente el contenido en las celdas */
}
#pdfViewerContainer {
  z-index: 62;
  position: fixed;
  width: 70%;  /* Incrementa el ancho al 90% de la pantalla */
  height: 95%; /* Incrementa la altura al 90% de la pantalla */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
  display: none; /* Oculto inicialmente */
}

#pdfFrame {
  width: 100%;
  height: 100%;  /* Asegúrate de que el iframe ocupe todo el contenedor */
  border: none;
}

input[type="file"] {
  display: none;
}

/* Estilos personalizados para el botón que reemplaza el input */
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

.card {
  height: 100%;  
}

.small-card{
  height: 270px;
}

.btn-outline-primary { 
    background-color: white; /* Cambia a un color verde */
    border-color: #f2935c;    
    color:  #f2935c;  
  
}

.btn-outline-primary:hover { 
  background-color: #f2935c; /* Cambia a un color verde */
  border-color: #f2935c;    
  color:  white;    
}

.closing {
  color : #e23434;
}

.closing:hover {
  color : #e23434 !important;
}